/*
Theme Name: WPMimic
Theme URI: http://forum.bbPersian.com/
Description: این پوسته WPMimic خوانده می‌شود زیرا شبیه به پوسته‌های وردپرس.ارگ، وردپرس.کام و وردپرس فارسی است
Version: 2.0 
Author: <a href="http://vietsonnguyen.com/">Vietson Nguyen</a> با به‌روزرسانی امیرسام
*/

/* Imported Fonts --------------------------- */
@font-face {
	font-family:'MyNassim';
	src:url("PFonts/nassim-bold.eot?#"),
		url("PFonts/nassim-bold.ttf") format("truetype");
}

/* Body ------------------------------------- */
body {font-family: 'MyNassim'; background: #fff; color: #555; text-decoration: none;}

/* Links ------------------------------------ */
.clear	{clear: both;}
	
a	{color: #2583AD; text-decoration: inherit; font-size: 1.1em;}
a:hover	{color: #D54E21;}

/* Inputs & Textarea -------------------------- */
input, textarea	{border: 1px solid #C6D9E9; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 5px; color: #888; background: #fff;}
input:hover, input:focus,
textarea:hover, textarea:focus	{border: 1px solid #D54E21; color: #333; -moz-box-shadow: 0px 0px 5px #999; -webkit-box-shadow: 0px 0px 5px #999; }
textarea	{-moz-resize: vertical;  -webkit-resize: vertical;  resize: vertical;}

/* Wrapper ---------------------------------- */
.wrapper	{width: 100%; height: auto; clear: both;}

/* Page navigation -------------------------- */
a.page-numbers,
span.page-numbers {
	font-size: 1em;
	float: right;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	padding: 4px 4px 2px 5px;
	margin-left: 5px;
	background-image: url('page-links-background.gif');
	background-repeat: no-repeat;
	background-position: 0 0;

}

#latest a.page-numbers {
	display: block;
	float: left;
	font-size: 0.8em;
	padding: 3px 3px 1px 4px;
	margin-left: 3px;
}

a.prev.page-numbers,
a.next.page-numbers,
span.page-numbers.dots {
	font-size: 1.2em;
	border-width: 0;
	padding: 0 4px;
	background-image: none;
}

span.page-numbers.dots {
	padding: 0;
}

a.page-numbers:hover {
	background-position: 0 -100px;
}

a.prev.page-numbers:hover,
a.next.page-numbers:hover {
	color: #006400;
}

/* Header ----------------------------------- */
#header	{width: 950px; height: 88px; margin: 0 auto; overflow: hidden; position: relative;}	
.header	{background: #444;}
#header h1	{display: block; margin-top: 40px;}
#header h1 span	{float: right; display: block; font: normal .8em/10px 'MyNassim', "Lucida Grande", Verdana, "Bitstream Vera Sans", Arial, sans-serif; color: white; text-shadow: -1px -1px 0px #333; margin-top: 25px; margin-right:-100px; width:120px;}
#header h1 a	{float: right; color: white; font: normal 2.5em/0 'MyNassim'; text-shadow: 1px 1px 1px #000; margin-top: 4px;}
#header h1 a:hover	{color: #fff;}	
			
#header ul {float: left; margin-top: 25px;}
#header ul li	{float: right; display: inline;}
#header ul li a	{color: #999; padding: 8px 12px; font: normal normal .9em/0px 'MyNassim'; text-shadow: 1px 1px 1px #000; transition: color 0.5s linear; -webkit-transition: color 0.5s linear; -moz-transition: color 0.5s linear; -o-transition: color 0.5s linear;}
#header ul li a:hover, .pform a	{color: #fff; transition: color 0.5s linear; -webkit-transition: color 0.5s linear; -moz-transition: color 0.5s linear; -o-transition: color 0.5s linear;}
#header ul li.current a	{color: #444; background: #FFF100; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -khtml-border-top-left-radius: 3px; -khtml-border-top-right-radius: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; text-shadow: 1px 1px 0px #fff;}
#header ul li.dl a	{color: #fff; background: #d54e21; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; -khtml-border-top-left-radius: 3px;-khtml-border-top-right-radius: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; text-shadow: 1px 1px 0px #333;}

#header .search	{position: absolute; top: 5px; left: 0;}
#header .search input	{font-family: 'MyNassim'; padding: 5px; border: 1px solid #222; background: #333; border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 1px 1px 1px #555; -moz-box-shadow: 1px 1px 0px #555;  color: #aaa;}
#header .search .inputButton	{display: none;}

/* Headline ----------------------------------- */
#headline	{width: 950px; height: 87px; margin: 0 auto; text-align: center; overflow: hidden;}
.headline	{background: #FFF100; border-bottom: 1px solid #E5D800;}
#headline h2	{font-size: 30px; font-family: 'MyNassim'; text-align: right; margin-top: 45px; height: 10px; text-transform: capitalize;}

.hlright	{float: left; font: normal .8em 'MyNassim'; text-align: right; margin-top: -25px;}
.hlright .urin	{margin-top: 32px; font: normal 1em 'MyNassim';}
.hlright .urin a {color: #555;}
.hlright .urin a:hover	{text-shadow: 1px 1px 3px #555;}
.hlright ul li	{display: inline;}
.hlright form	{padding: 0; margin: 0px;}
.hlright form input.remember	{margin-top: 7.5px;}
.hlright form input	{margin-top: 7px; width: inherit;}		
.hlright form a	{border: none; font-weight: normal; text-decoration: none; color: #555;}
.hlright form a:hover	{color: #D54E21;}
.lcu {font-size: 26px;}

/* Breadcrumbs -------------------------------- */
.bbcrumb	{width: 960px; position: relative; clear: both; font: italic normal .7em 'MyNassim', Geneva, sans-serif; margin-bottom: 24px;}
.bbcrumb span.nav	{position: absolute; right: 0; font-style: normal;}
.bbcrumb span.nav a	{font-weight: normal; padding: 0 3px;}
.bbcrumb span.nav .current	{padding: 0 3px;}

div.nav	{width: 960px; clear: both; font: normal .8em 'MyNassim', Geneva, sans-serif;}
div.nav a	{padding: 0 3px;}
div.nav .current	{padding: 0 3px;}

/* Forums ------------------------------------- */
#forums	{width: 950px; margin: 0 auto; margin-top: 30px; text-align: right;}
#forums table	{width: 100%; border-collapse: collapse; margin-bottom: 30px;}
#forums table th,
#forums table td	{font-family: 'MyNassim'; padding: 5px 0; font-size: .7em; font-weight: normal; vertical-align: text-top; text-align: center; width: 130px; line-height: 15px;}
#forums table td.title,
#forums table th.title	{font-family: 'MyNassim'; text-align: right; font-size: .8em; width: auto;}
#forums table th.title	{font-family: 'MyNassim'; font-weight: bold; color: #333; font-size: 14px;}
#forums table td.title	{text-align: right; padding-right: 5px;}
#forums table td.title span,
#forums table td.title small	{display: block; color: #aaa; font-size: .8em; padding-top: 5px;}
#forums table th	{border-bottom: 2px solid #ccc; font-size: 13px;}
#forums table td	{border-bottom: 1px solid #ccc;}
#forums table tbody tr	{background: transparent; transition: background-color 0.5s linear; -webkit-transition: background-color 0.5s linear; -moz-transition: background-color 0.5s linear; -o-transition: background-color 0.5s linear;}
#forums table tbody tr:hover	{background: #FFF100; transition: background-color 0.5s linear; -webkit-transition: background-color 0.5s linear; -moz-transition: background-color 0.5s linear; -o-transition: background-color 0.5s linear;}
#forums table tr.sticky {background: #fffbcc;}
#forums table th a,
#forums table td a	{font-weight: normal;}
#forums table th.title a,
#forums table td.title a	{font-family: Geeza Pro, Tahoma; font-size: 13px;}
#forums table .bb-child td	{border-bottom: 1px solid #fff;}
#forums table .bb-child td.title a	{padding-right: 5px; border-right: 5px solid #ccc;}
#forums table .bb-child	{background: #efefef;}
#forums table .bb-child:hover	{background: #fff;}
.passwsent {color: red; font-size: 14px;}

#forums table#forum-topics	{margin-bottom: 5px;}

#forums h2	{border-bottom: 2px solid #ccc; padding: 5px 0; margin-bottom: 5px; color: #333; font: bold .8em 'MyNassim';}
#forums h2.post-form	{border: none; margin-top: 24px;}

#sidebar	{width: 300px; float: right;}
#sidebar dl,
#sidebar ul	{width: 300px; clear:both;}
#sidebar li,
#sidebar dt, #sidebar dd	{background: transparent; padding: 5px 0; font-size: .8em; font-weight: normal; vertical-align: text-top; border-bottom: 1px solid #ddd; transition: background-color 0.5s linear; -webkit-transition: background-color 0.5s linear; -moz-transition: background-color 0.5s linear; -o-transition: background-color 0.5s linear;}
#sidebar dt, #sidebar dd	{float: right; vertical-align: bottom; display: block;}
#sidebar dt {width: 100px;}
#sidebar dd	{height: auto; text-align: center; width: 200px;}
#sidebar dd a {font-size: 1em;}
#sidebar .sbox	{margin-bottom: 24px;}
#sidebar li:hover,
#sidebar dt:hover,
#sidebar dd:hover	{background-color: yellow; transition: background-color 0.5s linear; -webkit-transition: background-color 0.5s linear; -moz-transition: background-color 0.5s linear; -o-transition: background-color 0.5s linear;}

#content {width: 620px; float: left;}
#content p {margin-right: -30px;}
#content .post-user	{display: none;}
#content .post-content form	{margin-bottom: 15px;}
#content .post-content textarea#post_content,
#content .post-content input#topic,
#content .post-content input#tags-input	{width: 608px; font-family: Geeza Pro, Tahoma; font-size: 13px;}
#content .post p.new-topic {margin-right: -30px;}
#content .post .chekbox {margin-top: -15px;}
#content .post .chekbox input {float: right;}
#content .post .chekbox p.post-form-subscription-container {float: right;}

#fcontent	{width: 100%;}
#fcontent .post	{width: 100%}
#fcontent .breadcrumbs	{margin-bottom: 20px; margin-top: 0;}
#fcontent .post-user	{display: none; width: 1px;}
#fcontent .post-content	{width: 930px;}
#fcontent .post-content textarea#post_content,
#fcontent .post-content input#topic,
#fcontent .post-content input#tags-input	{width: 900px;}
#fcontent .post .chekbox {float: right;  margin-top: -10px;}
#fcontent .post .chekbox p.post-form-subscription-container {float: right;}
#fcontent .search	{padding: 10px; border-top: 1px solid #FC6; border-bottom: 1px solid #FC6; background: #FFC; margin-bottom: 15px;}
#fcontent .search input.inputButton	{display: none;}
#fcontent .search input	{width: 910px;}
#fcontent table td.title em	{color: red; font-size: 8pt;}

/* entry -------------------------------------- */
#topics	{margin-top: 24px;}
#topics h2	{font-size: 1em; color: #555; margin: 0px; border-bottom: 2px solid #ccc; padding: 5px 0;}
#topics h2 span	{font: normal normal .8em 'MyNassim', Verdana, Geneva, sans-serif; color: #999;}
#closed {text-align: center; background-image: url('lockoverlay.png'); background-size: 35px; background-repeat: no-repeat;}
#closed h1 {font-size: 1.5em;}
#closed p.closed {font-family: "MyNassim"; font-size: 14px; text-align: center;}
		
#aboutpost	{width: 190px; float: left;}
#aboutpost ul	{margin-bottom: 15px;}
#aboutpost ul li	{font: normal .7em 'MyNassim', "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif; border-bottom: 1px solid #ddd; padding: 5px 0;}

#entry	{width: 735px; float: right; margin-bottom: 30px;}
#entry .post	{width: 765px; display: block; margin: 20px 0 0 0; font: normal .8em 'MyNassim', "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif; float: left;}
#entry .post .post-user	{margin-right: 30px; width: 100px; padding: 5px; border: 1px solid #bbb; border-radius: 5px; background: #eee; font-size: .7em;}
#entry .position1 .post-content	{border: none; padding-top: 0px; float: left; font-size: 14px;}
#entry h2.post-form	{display: none; visibility: hidden;}

form.postform	{display: block; clear: left;}
form.postform em	{display: block;}
.post h3 a.post-ip-link	{display: none;}
.post textarea#post_content,
.post input#topic,
.post input#tags-input	{width: 598px;}
.post .resp,
.post .ads	{border: none; padding-top: 0px; float: left;}
span.aadmin	{float: right; font-family: 'MyNassim'; font-size: x-small; line-height: 40px;}
#post-form {margin-right: 30px;}
#tpost-form {margin-right: -30px;}

.post-user ul li	{font-size: 12px; padding: 1px 0; border-bottom: 1px solid #ccc;}
.post-user ul li:last-child	{border: none;}
.post-user a {color: green;}
.username {font-size: 14px;}
.allowed markup {font-family: Tahoma;}

.post-content	{float: left; width: 610px; border-top: 1px solid #ddd; padding-top: 5px;}
.post-content p,
#forums p	{text-align: justify; font-family: Geeza Pro, Tahoma; font-size: 13px; margin-bottom: 1.5em; line-height: 1.5em;}
.post-content p:last-child	{margin-bottom: 0px;}

.post-content ul li {list-style-type: disc; list-style-position: inside; list-style-image: inherit; margin: 5px 0px;}
.post-content ul ul li	{list-style-type: circle; margin-left: 15px;}
.post-content ul ul ul li	{list-style-type: square;}
.post-content ul	{margin-bottom: 15px;}
.post-content ul ul	{margin-bottom: 0px;}

.post-content blockquote {border-right: 5px solid #ccc; background: transparent; color: #aaa; padding: 5px; font-size: 13px; margin-bottom: 20px;}
.post-content pre	{direction: ltr; text-align: left; display: block; overflow: auto; border: 1px solid #CCC; font-family: "Courier New"; font-size: medium; background: white; padding: 5px; margin-bottom: 20px;}

/* Footer ------------------------------------- */
#footer	{text-align: right font-family: 'MyNassim'; width: 950px; margin: 0 auto; margin-top: 30px !important; padding: 10px 0;border-top: 2px solid #ccc; font-size: .8em;}
#footer p.fright	{float: left; font-family: 'MyNassim'; text-align: right; margin-top: -17px;}
#footer a {color: #555;}
#footer a:hover	{text-shadow: 1px 1px 3px #555;}